.about-me {
    padding-bottom: 50px;

    &__title {
        margin-bottom: 20px;
        color: #fff;
        text-align: center;
        
    }

    &__block {
        background: linear-gradient(95deg, rgb(33, 36, 44) 0%, rgba(15, 15, 16, 0) 100%);
        box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
        border-radius: 70px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
            .wrapper {
                padding: 0 15px;
                width: 50%;
                &__subtitle {
                    color: #fff;
                    margin-top: 50px;
                    margin-bottom: 50px;
                    
                }

                &__img {
                    width: 350px;
                    position: relative;
                    text-align: center;
                    width: 100%;

                    .img {
                        width: 350px;
                        height: 350px;
                        border-radius: 50%;
                        object-fit: cover;
                        // vertical-align: middle;
                       
                    }
                }

                &__btn {
                    text-transform: uppercase;
                    color: #fff;
                    padding: 16px 19px;
                    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
                    border: 1px solid transparent;
                    transition: all .5s;

                    &:hover {
                        -webkit-box-shadow: 0px 0px 101px 1px rgba(130, 217, 249, 1);
                        -moz-box-shadow: 0px 0px 101px 1px rgba(130, 217, 249, 1);
                        box-shadow: 0px 0px 101px 1px rgba(130, 217, 249, 1);
                color: rgba(130,217,249,1);

                    }
                }

            }
        }
    }
