.header {
    padding: 20px 0;
    transition:  0.6s ease;
    .container{
        position: relative;
    }
    &_sticky{
        background: rgb(52, 61, 75);
        box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
        transition: 0.6s ease;
    }
    &__brand {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        & img:hover{
            -webkit-box-shadow: 0px 0px 30px 1px rgba(130,217,249,1);
            -moz-box-shadow: 0px 0px 30px 1px rgba(130,217,249,1);
            box-shadow: 0px 0px 30px 1px rgba(130,217,249,1);
            border-radius: 50%;
        }
    }
    &__img {
        background: #fff;
        border-radius: 50%;
        width: 40px;
        height: 40px;
    }
    .nav {
      padding-left: 50px;
        width: 100%;
        max-width: 1220px;
        display: flex;
        justify-content: space-between;
        &__list {
            display: flex;
            margin-bottom: 0;
        }
        
        &__item {
            margin-right: 15px;

            &:last-child {
                margin-right: 0;
            }
        }

        &__link {
            color: #fff;
            &:hover{  
                color: rgba(130,217,249,1);
            }
        }

        &__phone {
            color: #fff;
            
            &:hover{
                color: rgba(130,217,249,1);
            }
        }
    }
}