@media (max-width: 576px) {
    .container {
        max-width: 576px;
        width: 100%;
        margin: 0 auto;
    }

    .about-me{
        .col{
            &:last-child{
                margin-top: 30px;
            }
        }
    }
}