@media (max-width: 576px) {
    .container {
        max-width: 576px;
        width: 100%;
        margin: 0 auto;
    }

    .about-me{
        .col{
            &:last-child{
                margin-top: 30px;
            }
        }
        .wrapper{
        &__subtitle{
            text-align: center;
        }
        &__btn{
           margin-left: 80px;
        }
        }
    }

    .portfolio{

        div#carousel2 {
            perspective: 1200px;
            box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
            background: linear-gradient(95deg, rgb(33, 36, 44) 0%, rgba(15, 15, 16, 0) 100%);
            padding-top: 10%;
            font-size: 0;
            margin-bottom: 3rem;
            overflow: hidden;
            padding-bottom: 10%;
            border-radius: 70px;
         
         }

        figure#spinner img {
            width: 60%;
            height: 70%;
            max-width: 425px;
            position: absolute;
            left: 22%;
            transform-origin: 50% 50% -500px;
            outline: 1px solid transparent;
         }
    }
}