@media (max-width: 576px) {
    .container {
        max-width: 576px;
        width: 100%;
        margin: 0 auto;
    }

    .react-animation {
        .col {
            &:nth-child(1) {
                display: none;
            }

            &:nth-child(2) {
                display: none;
            }

            &:nth-child(3) {
                display: none;
            }
        }

    }

    .about-me {
        padding-bottom: 30px;
        
       &__block{
           .wrapper{
               width: 100%;
               &2{
                   margin-top: 40px;
               }
           }

       }
    }

    .portfolio {
        display: none;
        &__title {
            padding-bottom: 10px;
        }

        div#carousel2 {
            perspective: 1200px;
            box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
            background: linear-gradient(95deg, rgb(33, 36, 44) 0%, rgba(15, 15, 16, 0) 100%);
            padding-top: 15%;
            font-size: 0;
            margin-bottom: 3rem;
            overflow: hidden;
            border-radius: 70px;

        }

        figure#spinner img {
            width: 60%;
            height: 70%;
            max-width: 425px;
            position: absolute;
            left: 22%;
            top: 10%;
            transform-origin: 50% 50% -500px;
            outline: 1px solid transparent;
        }
    }
    .carousel{
        display: block;
        &__title {
            padding-bottom: 10px;
        }
        .slider-wrapper{
            height: 200px;
        }
    }

    .skills {
        padding-bottom: 20px;

        .wrapper {
            padding: 30px;

            &__img {
                width: 60px;
                height: 60px;
                margin-left: 40%;

                &:hover {
                    transform: scale(1.25);
                    transition: all .5s;
                }
            }

            &__title {
                color: #fff;
                font-weight: bold;
                margin-top: 20px;
                text-align: justify;
            }

            &__subtitle {
                color: #fff;
                margin-top: 15px;
                text-align: justify;
            }
        }
    }

    .experience {
        padding-bottom: 25px;
    }
}