@media (max-width: 576px) {
    .container {
        max-width: 576px;
        width: 100%;
        margin: 0 auto;
    }

    .about-me{
        .col{
            &:last-child{
                margin-top: 30px;
            }
        }
        .wrapper{
        &__subtitle{
            text-align: center;
        }
        &__btn{
           margin-left: 80px;
        }
        }
    }

    .portfolio{
        figure#spinner img {
            width: 40%;
            height: 100%;
            max-width: 425px;
            position: absolute;
            left: 30%;
            transform-origin: 50% 50% -500px;
            outline: 1px solid transparent;
         }
    }
}