.react-animation{
    padding-top: 100px;
    padding-bottom: 30px;
    .row{
      .col{
        .wrapper{
          box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
          background: linear-gradient(95deg, rgb(33, 36, 44) 0%, rgba(15, 15, 16, 0) 100%);
        border-radius: 70px;
          text-align: center;
          &__logo {
            width: 250px;
            height: 250px;
            animation: React infinite 20s linear;
          }
           
          @keyframes React {
            from {
              transform: rotate(0deg);
            }
            to {
              transform: rotate(360deg);
            }
          }    
        }
      }
    }    
}