@import url(../libs/mdb-ui-kit/css/mdb.min.css);
@import url(../libs/fontawesome/css/all.min.css);
body {
  background: #343d4b;
  color: #1B1818;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  font-family: 'Roboto Condensed', sans-serif;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mybtn {
  display: block;
  outline: none;
  border: 1px solid transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.header {
  padding: 20px 0;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

.header .container {
  position: relative;
}

.header_sticky {
  background: #343d4b;
  -webkit-box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
          box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

.header__brand {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header__brand img:hover {
  -webkit-box-shadow: 0px 0px 30px 1px #82d9f9;
  box-shadow: 0px 0px 30px 1px #82d9f9;
  border-radius: 50%;
}

.header__img {
  background: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-top: 3px;
}

.header .nav {
  padding-left: 50px;
  width: 100%;
  max-width: 1220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
}

.header .nav__item {
  margin-right: 15px;
}

.header .nav__item:last-child {
  margin-right: 0;
}

.header .nav__link {
  color: #fff;
}

.header .nav__link:hover {
  color: #82d9f9;
}

.header .nav__phone {
  color: #fff;
}

.header .nav__phone:hover {
  color: #82d9f9;
}

.react-animation {
  padding-top: 100px;
  padding-bottom: 30px;
}

.react-animation .row .col .wrapper {
  -webkit-box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
          box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  background: linear-gradient(95deg, #21242c 0%, rgba(15, 15, 16, 0) 100%);
  border-radius: 70px;
  text-align: center;
}

.react-animation .row .col .wrapper__logo {
  width: 250px;
  height: 250px;
  -webkit-animation: React infinite 20s linear;
          animation: React infinite 20s linear;
}

@-webkit-keyframes React {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes React {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.about-me {
  padding-bottom: 50px;
}

.about-me__title {
  margin-bottom: 20px;
  color: #fff;
  text-align: center;
}

.about-me__block {
  background: linear-gradient(95deg, #21242c 0%, rgba(15, 15, 16, 0) 100%);
  -webkit-box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
          box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  border-radius: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 0;
}

.about-me__block .wrapper2 {
  width: 40%;
}

.about-me__block .wrapper {
  padding: 0 15px;
}

.about-me__block .wrapper__subtitle {
  text-align: justify;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
}

.about-me__block .wrapper__img {
  width: 100%;
  text-align: center;
}

.about-me__block .wrapper__img .img {
  max-width: 350px;
  max-height: 350px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-me__block .wrapper__btn {
  width: 200px;
  height: 50px;
  text-transform: uppercase;
  color: #fff;
  padding: 16px 19px;
  -webkit-box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
          box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  -webkit-transition: all .5s;
  transition: all .5s;
  margin: 0 auto;
}

.about-me__block .wrapper__btn:hover {
  -webkit-box-shadow: 0px 0px 101px 1px #82d9f9;
  box-shadow: 0px 0px 101px 1px #82d9f9;
  color: #82d9f9;
}

.about-me__block .wrapper1 {
  width: 60%;
  padding-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills {
  padding-bottom: 50px;
}

.skills__title {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.skills .wrapper {
  min-height: 313px;
  background: linear-gradient(95deg, #21242c 0%, rgba(15, 15, 16, 0) 100%);
  margin-bottom: 20px;
  -webkit-box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
          box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  border-radius: 70px;
  padding: 30px;
}

.skills .wrapper:hover {
  -webkit-box-shadow: 0px 0px 101px 1px #82d9f9;
  box-shadow: 0px 0px 101px 1px #82d9f9;
}

.skills .wrapper__img {
  width: 60px;
  height: 60px;
}

.skills .wrapper__img:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  -webkit-transition: all .5s;
  transition: all .5s;
}

.skills .wrapper__title {
  color: #fff;
  font-weight: bold;
  margin-top: 20px;
}

.skills .wrapper__subtitle {
  color: #fff;
  margin-top: 15px;
  text-align: left;
}

.experience {
  padding-bottom: 50px;
}

.experience__title {
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
}

.experience .row .col-12 .wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  height: 300px;
  -webkit-box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
          box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  background: linear-gradient(95deg, #21242c 0%, rgba(15, 15, 16, 0) 100%);
  border-radius: 70px;
}

.experience .row .col-12 .wrapper:hover {
  -webkit-box-shadow: 0px 0px 101px 1px #82d9f9;
  box-shadow: 0px 0px 101px 1px #82d9f9;
}

.experience .row .col-12 .wrapper__percent {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.experience .row .col-12 .wrapper__svg {
  position: relative;
  width: 150px;
  height: 150px;
}

.experience .row .col-12 .wrapper__svg-circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 10;
  stroke: rgba(255, 255, 255, 0.05);
  -webkit-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
}

.experience .row .col-12 .wrapper__svg-circle:nth-child(2) {
  stroke: #df6d3c;
  stroke-dasharray: 440px;
  stroke-dashoffset: 80px;
}

.experience .row .col-12 .wrapper__svg-circle_active {
  -webkit-animation: circle 2s linear 1;
          animation: circle 2s linear 1;
}

.experience .row .col-12 .wrapper__svg-circleC {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 10;
  stroke: rgba(255, 255, 255, 0.05);
  -webkit-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
}

.experience .row .col-12 .wrapper__svg-circleC:nth-child(2) {
  stroke: #58a7d7;
  stroke-dasharray: 440px;
  stroke-dashoffset: 80px;
}

.experience .row .col-12 .wrapper__svg-circleC_active {
  -webkit-animation: circle 2s linear 1;
          animation: circle 2s linear 1;
}

.experience .row .col-12 .wrapper__svg-circleJ {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 10;
  stroke: rgba(255, 255, 255, 0.05);
  -webkit-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
}

.experience .row .col-12 .wrapper__svg-circleJ:nth-child(2) {
  stroke: #3570b1;
  stroke-dasharray: 440px;
  stroke-dashoffset: 80px;
}

.experience .row .col-12 .wrapper__svg-circleJ_active {
  -webkit-animation: circle 2s linear 1;
          animation: circle 2s linear 1;
}

.experience .row .col-12 .wrapper__svg-circleJs {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 10;
  stroke: rgba(255, 255, 255, 0.05);
  -webkit-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
}

.experience .row .col-12 .wrapper__svg-circleJs:nth-child(2) {
  stroke: #eddc68;
  stroke-dasharray: 380px;
  stroke-dashoffset: 80px;
}

.experience .row .col-12 .wrapper__svg-circleJs_active {
  -webkit-animation: circleJs 2s linear 1;
          animation: circleJs 2s linear 1;
}

.experience .row .col-12 .wrapper__svg-circleRe {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 10;
  stroke: rgba(255, 255, 255, 0.05);
  -webkit-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
}

.experience .row .col-12 .wrapper__svg-circleRe:nth-child(2) {
  stroke: #644da5;
  stroke-dasharray: 240px;
  stroke-dashoffset: 80px;
}

.experience .row .col-12 .wrapper__svg-circleRe_active {
  -webkit-animation: circleRe 2s linear 1;
          animation: circleRe 2s linear 1;
}

.experience .row .col-12 .wrapper__svg-circleR {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 10;
  stroke: rgba(255, 255, 255, 0.05);
  -webkit-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
}

.experience .row .col-12 .wrapper__svg-circleR:nth-child(2) {
  stroke: #81d6f5;
  stroke-dasharray: 240px;
  stroke-dashoffset: 80px;
}

.experience .row .col-12 .wrapper__svg-circleR_active {
  -webkit-animation: circleRe 2s linear 1;
          animation: circleRe 2s linear 1;
}

.experience .row .col-12 .wrapper__titleH {
  color: #df6d3c;
  font-weight: 700;
  font-size: 30px;
}

.experience .row .col-12 .wrapper__titleH::before {
  content: '77';
}

.experience .row .col-12 .wrapper__titleH_active::before {
  -webkit-animation: number 2s linear 1;
          animation: number 2s linear 1;
}

.experience .row .col-12 .wrapper__titleC {
  color: #58a7d7;
  font-weight: 700;
  font-size: 30px;
}

.experience .row .col-12 .wrapper__titleC::before {
  content: '77';
}

.experience .row .col-12 .wrapper__titleC_active::before {
  -webkit-animation: number 2s linear 1;
          animation: number 2s linear 1;
}

.experience .row .col-12 .wrapper__titleJ {
  color: #3570b1;
  font-weight: 700;
  font-size: 30px;
}

.experience .row .col-12 .wrapper__titleJ::before {
  content: '77';
}

.experience .row .col-12 .wrapper__titleJ_active::before {
  -webkit-animation: number 2s linear 1;
          animation: number 2s linear 1;
}

.experience .row .col-12 .wrapper__titleJs {
  color: #eddc68;
  font-weight: 700;
  font-size: 30px;
}

.experience .row .col-12 .wrapper__titleJs::before {
  content: '60';
}

.experience .row .col-12 .wrapper__titleJs_active::before {
  -webkit-animation: numberJs 2s linear 1;
          animation: numberJs 2s linear 1;
}

.experience .row .col-12 .wrapper__titleR {
  color: #81d6f5;
  font-weight: 700;
  font-size: 30px;
}

.experience .row .col-12 .wrapper__titleR::before {
  content: '50';
}

.experience .row .col-12 .wrapper__titleR_active::before {
  -webkit-animation: numberRe 2s linear 1;
          animation: numberRe 2s linear 1;
}

.experience .row .col-12 .wrapper__titleRe {
  color: #644da5;
  font-weight: 700;
  font-size: 30px;
}

.experience .row .col-12 .wrapper__titleRe::before {
  content: '50';
}

.experience .row .col-12 .wrapper__titleRe_active::before {
  -webkit-animation: numberRe 2s linear 1;
          animation: numberRe 2s linear 1;
}

.experience .row .col-12 .wrapper__subtitleH {
  color: #df6d3c;
  font-weight: 700;
  font-size: 30px;
}

.experience .row .col-12 .wrapper__subtitleC {
  color: #58a7d7;
  font-weight: 700;
  font-size: 30px;
}

.experience .row .col-12 .wrapper__subtitleJs {
  color: #eddc68;
  font-weight: 700;
  font-size: 30px;
}

.experience .row .col-12 .wrapper__subtitleJ {
  color: #2d66a7;
  font-weight: 700;
  font-size: 30px;
}

.experience .row .col-12 .wrapper__subtitleR {
  color: #81d6f5;
  font-weight: 700;
  font-size: 30px;
}

.experience .row .col-12 .wrapper__subtitleRe {
  color: #644da5;
  font-weight: 700;
  font-size: 30px;
}

.experience .row .col-12 .wrapper__span {
  font-size: 20px;
}

.experience .row .col-12 .wrapper__number {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.experience .row .col-12 .wrapper__text {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@-webkit-keyframes circle {
  0% {
    stroke-dasharray: 0;
  }
  25% {
    stroke-dasharray: 110px;
  }
  50% {
    stroke-dasharray: 220px;
  }
  75% {
    stroke-dasharray: 330px;
  }
  100% {
    stroke-dasharray: 440px;
  }
}

@keyframes circle {
  0% {
    stroke-dasharray: 0;
  }
  25% {
    stroke-dasharray: 110px;
  }
  50% {
    stroke-dasharray: 220px;
  }
  75% {
    stroke-dasharray: 330px;
  }
  100% {
    stroke-dasharray: 440px;
  }
}

@-webkit-keyframes circleJs {
  0% {
    stroke-dasharray: 0;
  }
  25% {
    stroke-dasharray: 70px;
  }
  50% {
    stroke-dasharray: 210px;
  }
  75% {
    stroke-dasharray: 280px;
  }
  100% {
    stroke-dasharray: 380px;
  }
}

@keyframes circleJs {
  0% {
    stroke-dasharray: 0;
  }
  25% {
    stroke-dasharray: 70px;
  }
  50% {
    stroke-dasharray: 210px;
  }
  75% {
    stroke-dasharray: 280px;
  }
  100% {
    stroke-dasharray: 380px;
  }
}

@-webkit-keyframes circleRe {
  0% {
    stroke-dasharray: 0;
  }
  25% {
    stroke-dasharray: 50px;
  }
  50% {
    stroke-dasharray: 100px;
  }
  75% {
    stroke-dasharray: 170px;
  }
  100% {
    stroke-dasharray: 240px;
  }
}

@keyframes circleRe {
  0% {
    stroke-dasharray: 0;
  }
  25% {
    stroke-dasharray: 50px;
  }
  50% {
    stroke-dasharray: 100px;
  }
  75% {
    stroke-dasharray: 170px;
  }
  100% {
    stroke-dasharray: 240px;
  }
}

@-webkit-keyframes number {
  0% {
    content: '0';
  }
  10% {
    content: '10';
  }
  25% {
    content: '25';
  }
  50% {
    content: '50';
  }
  75% {
    content: '77';
  }
}

@keyframes number {
  0% {
    content: '0';
  }
  10% {
    content: '10';
  }
  25% {
    content: '25';
  }
  50% {
    content: '50';
  }
  75% {
    content: '77';
  }
}

@-webkit-keyframes numberJs {
  0% {
    content: '0';
  }
  10% {
    content: '10';
  }
  25% {
    content: '25';
  }
  50% {
    content: '50';
  }
  75% {
    content: '60';
  }
}

@keyframes numberJs {
  0% {
    content: '0';
  }
  10% {
    content: '10';
  }
  25% {
    content: '25';
  }
  50% {
    content: '50';
  }
  75% {
    content: '60';
  }
}

@-webkit-keyframes numberRe {
  0% {
    content: '0';
  }
  10% {
    content: '10';
  }
  25% {
    content: '25';
  }
  50% {
    content: '50';
  }
  75% {
    content: '50';
  }
}

@keyframes numberRe {
  0% {
    content: '0';
  }
  10% {
    content: '10';
  }
  25% {
    content: '25';
  }
  50% {
    content: '50';
  }
  75% {
    content: '50';
  }
}

.portfolio__title {
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

.portfolio div#carousel2 {
  -webkit-perspective: 1200px;
          perspective: 1200px;
  -webkit-box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
          box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  background: linear-gradient(95deg, #21242c 0%, rgba(15, 15, 16, 0) 100%);
  padding-top: 10%;
  font-size: 0;
  margin-bottom: 3rem;
  overflow: hidden;
  padding-bottom: 10%;
  border-radius: 70px;
}

.portfolio figure#spinner {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  height: 300px;
  -webkit-transform-origin: 50% 50% -500px;
          transform-origin: 50% 50% -500px;
  -webkit-transition: 1s;
  transition: 1s;
}

.portfolio figure#spinner img {
  width: 40%;
  height: 100%;
  max-width: 425px;
  position: absolute;
  left: 30%;
  -webkit-transform-origin: 50% 50% -500px;
          transform-origin: 50% 50% -500px;
  outline: 1px solid transparent;
}

.portfolio figure#spinner a:nth-child(1) img {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.portfolio figure#spinner a:nth-child(2) img {
  -webkit-transform: rotateY(-45deg);
          transform: rotateY(-45deg);
}

.portfolio figure#spinner a:nth-child(3) img {
  -webkit-transform: rotateY(-90deg);
          transform: rotateY(-90deg);
}

.portfolio figure#spinner a:nth-child(4) img {
  -webkit-transform: rotateY(-135deg);
          transform: rotateY(-135deg);
}

.portfolio figure#spinner a:nth-child(5) img {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.portfolio figure#spinner a:nth-child(6) img {
  -webkit-transform: rotateY(-225deg);
          transform: rotateY(-225deg);
}

.portfolio figure#spinner a:nth-child(7) img {
  -webkit-transform: rotateY(-270deg);
          transform: rotateY(-270deg);
}

.portfolio figure#spinner a:nth-child(8) img {
  -webkit-transform: rotateY(-315deg);
          transform: rotateY(-315deg);
}

.portfolio div#carousel2 ~ span {
  color: #fff;
  margin: 5%;
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  -webkit-transition: 0.6s color;
  transition: 0.6s color;
  position: relative;
  margin-top: -6rem;
  border-bottom: none;
  line-height: 0;
}

.portfolio div#carousel2 ~ span:hover {
  color: #888;
  cursor: pointer;
}

.carousel {
  display: none;
}

.carousel__title {
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

.carousel .flex-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
          box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  border-radius: 70px;
  background: linear-gradient(95deg, #21242c 0%, rgba(15, 15, 16, 0) 100%);
}

.carousel .slider-wrapper {
  max-width: 800px;
  width: 100%;
  height: 490px;
  position: relative;
  -webkit-box-shadow: 10px 10px 44px -10px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 44px -10px rgba(0, 0, 0, 0.75);
}

.carousel #btn-prev, .carousel #btn-next {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 50px;
  background: gray;
  opacity: 0.4;
  cursor: pointer;
  -webkit-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
}

.carousel #btn-prev:hover {
  opacity: 0.6;
}

.carousel #btn-next {
  left: auto;
  right: 0;
}

.carousel #btn-next:hover {
  opacity: 0.6;
}

.carousel .slide {
  width: 100%;
  height: 100%;
  display: none;
}

.carousel .slide.active {
  display: block;
}

.carousel img {
  width: 100%;
  height: 100%;
}

.carousel .dots-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
}

.carousel .dot.active {
  background: #82d9f9;
}

.carousel span {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: gray;
  margin-right: 10px;
  cursor: pointer;
}

.carousel span:last-child {
  margin-right: 0;
}

.footer {
  margin-top: 70px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  -webkit-box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
          box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  color: #fff;
}

@media (max-width: 576px) {
  .container {
    max-width: 576px;
    width: 100%;
    margin: 0 auto;
  }
  .header {
    padding: 10px 0;
  }
  .header__brand {
    position: relative;
    z-index: 2;
  }
  .header .nav {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    right: 0;
    top: -5px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    padding-top: 60px;
    padding-right: 20px;
    background: linear-gradient(95deg, #21242c 0%, rgba(15, 15, 16, 0.3) 100%);
    -webkit-box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
            box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 300px;
    padding-bottom: 40px;
    font-size: 20px;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    z-index: 1;
  }
  .header .nav.active {
    opacity: 1;
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }
  .header .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-column-gap: 5px;
            column-gap: 5px;
  }
  .header .nav__list:first-child {
    padding-top: 20px;
  }
  .header .nav__item {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .header .nav__phone {
    text-align: end;
  }
  .header .burger {
    position: fixed;
    top: 33px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 20px;
    width: 26px;
    height: 26px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    z-index: 3;
  }
  .header .burger.active .burger__line {
    background: none;
  }
  .header .burger.active .burger__line::before {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    top: 0;
  }
  .header .burger.active .burger__line::after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 0;
  }
  .header .burger__line {
    position: relative;
    width: 30px;
    height: 2px;
    background: #fff;
  }
  .header .burger__line::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    top: 8px;
    left: 0;
    -webkit-transition: .25s;
    transition: .25s;
  }
  .header .burger__line::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    bottom: 8px;
    left: 0;
    -webkit-transition: .25s;
    transition: .25s;
  }
  .react-animation .col:nth-child(1) {
    display: none;
  }
  .react-animation .col:nth-child(2) {
    display: none;
  }
  .react-animation .col:nth-child(3) {
    display: none;
  }
  .about-me {
    padding-bottom: 30px;
  }
  .about-me__block .wrapper {
    width: 100%;
  }
  .about-me__block .wrapper2 {
    margin-top: 40px;
  }
  .portfolio {
    display: none;
  }
  .portfolio__title {
    padding-bottom: 10px;
  }
  .portfolio div#carousel2 {
    -webkit-perspective: 1200px;
            perspective: 1200px;
    -webkit-box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
            box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    background: linear-gradient(95deg, #21242c 0%, rgba(15, 15, 16, 0) 100%);
    padding-top: 15%;
    font-size: 0;
    margin-bottom: 3rem;
    overflow: hidden;
    border-radius: 70px;
  }
  .portfolio figure#spinner img {
    width: 60%;
    height: 70%;
    max-width: 425px;
    position: absolute;
    left: 22%;
    top: 10%;
    -webkit-transform-origin: 50% 50% -500px;
            transform-origin: 50% 50% -500px;
    outline: 1px solid transparent;
  }
  .carousel {
    display: block;
  }
  .carousel__title {
    padding-bottom: 10px;
  }
  .carousel .slider-wrapper {
    height: 200px;
  }
  .skills {
    padding-bottom: 20px;
  }
  .skills .wrapper {
    padding: 30px;
  }
  .skills .wrapper__img {
    width: 60px;
    height: 60px;
    margin-left: 40%;
  }
  .skills .wrapper__img:hover {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  .skills .wrapper__title {
    color: #fff;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
  }
  .skills .wrapper__subtitle {
    color: #fff;
    margin-top: 15px;
    text-align: center;
  }
  .experience {
    padding-bottom: 25px;
  }
}
/*# sourceMappingURL=style.css.map */